<div class="card card-variant-3 h-100">
	<div class="img-wrapper">
		<img src="assets/img/{{  image }}.png"  alt="Image of team member" >
	</div>
	<div class="card-body">
		<div class="h-100 text-center">
			<p class="lead mb-0 bold">{{ name }}</p>
			<p class="lead mb-0">{{ position }}</p>
			<p class="lead">{{ email }}</p>
			<p class="lead">{{ description }}</p>
		</div>
	</div>
</div>