<div class="footer bg-s1 px-3 px-md-2 pt-5 pb-4 text-right">
	<div class="container-fluid">
		<div class="footer-top d-md-flex d-block justify-content-around pt-3 pb-3">
			<div class="logo-wrapper mb-3">
				<img class="w-100" src="assets/img/maxxima-logo-red.png" alt="Main logo">
			</div>
			{% for item in model.sections %}
				<div class="footer-child-wrapper mb-3">
					<p class="small mb-2">{{ item.title }}</p>
					<div class="list-group">
						{% for item in item.subItems %}
							<a class="list-group-item list-group-item-action mb-0 small" href="{{ item.link }}">{{ item.title }}</a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			<div class="footer-child-wrapper mb-3">
				<p class="small mb-2">{{ model.socialTitle }}</p>
				<div class="list-group list-group-horizontal">
					<a target="_blank" class="list-group-item list-group-item-action mb-0 small" href="https://www.facebook.com/MaxximaOfficial/">
						{% include "@::templates/components/icon.twig" with { iconName: 'facebook', iconSize: 'm' } %}
					</a>
					<a target="_blank" class="list-group-item list-group-item-action mb-0 small" href="https://www.instagram.com/maxximaofficial">
						{% include "@::templates/components/icon.twig" with { iconName: 'instagram', iconSize: 'm' } %}
					</a>
					<a target="_blank" class="list-group-item list-group-item-action mb-0 small" href="https://www.linkedin.com/company/maxximaofficial">
						{% include "@::templates/components/icon.twig" with { iconName: 'linkedin', iconSize: 'm' } %}
					</a>
					<a target="_blank" class="list-group-item list-group-item-action mb-0 small" href="https://www.youtube.com/channel/UCPHHIjwi1tgJGBpjtdSVjfw">
						{% include "@::templates/components/icon.twig" with { iconName: 'youtube', iconSize: 'l' } %}
					</a>
				</div>
			</div>
			<div class="footer-child-wrapper mb-3">
				<p class="small mb-2">{{ model.hotlineTitle }}</p>
				<div class="list-group">
					<a class="list-group-item list-group-item-action mb-0 small" href="tel:1800187996">
					1 800 18 7996
					</a>
				</div>
			</div>
			<div class="footer-child-wrapper mb-3">
				<p class="small mb-2">{{ model.addressTitle }}</p>
				<div class="list-group">
					<p class="list-group-item mb-0 small">
					Maxxima Resources (M) Sdn Bhd,<br/>
					Jalan Pensyarah U1/28,<br/>
					Hicom-Glenmarie Industrial Park,<br/>
					40150 Shah Alam,<br/>
					Selangor
					</p>
				</div>
			</div>

		</div>
		<div class="footer-bot pt-3 mx-auto">
			<p class="cr-text small w mb-0 text-center">
				{{ model.copyrightText }}
			</p>
		</div>
	</div>
</div>