<form id="contactForm" action="/api/contact-us-form/submissions" method="GET" novalidate class="contact-form form-container p-4 pt-5">
	<div class="row">
		<div class="col-md-4 mb-4">
			<div class="field variant-text">
				<label for="fullName" class="form-label lead">{{ name }}</label>
				<input id="fullName"
                    name="fullName"
                    type="text"
                    class="form-control"
                    placeholder=""
                    autocomplete="name"
					required
					data-msg-required="{{ requiredMsg }}">
			</div>
		</div>

		<div class="col-md-4 mb-4">
			<div class="field variant-text">
				<label for="email" class="form-label lead">{{ emailAddress }}</label>
				<input id="email"
                    name="email"
                    type="email"
                    class="form-control"
                    required 
                    placeholder=""
					data-msg-required="{{ requiredMsg }}"
                    data-msg-email="{{ emailMsg }}">
			</div>
		</div>

		<div class="col-md-4 mb-4">
			<div class="field variant-text">
				<label for="mobileNumber" class="form-label lead">{{ mobileNumber }}</label>
				<input id="mobileNumber"
                    name="mobileNumber"
                    type="tel"
                    pattern="\d{10,}"
                    class="form-control"
                    placeholder=""
					required
					data-msg-required="{{ requiredMsg }}"
					data-msg-pattern="{{ phoneMsg }}">
			</div>
		</div>

		<div class="col-12 mb-4">
			<div class="field variant-text">
				<label for="subject" class="form-label lead">{{ subject }}</label>
				<input id="subject"
                    name="subject"
                    type="text"
                    class="form-control"
                    autocomplete=""
					required
					data-msg-required="{{ requiredMsg }}">
			</div>
		</div>

		<div class="col-12 mb-4">
			<label class="form-label lead" for="message">{{ message }}</label>
			<textarea name="message" 
                id="message" 
                rows="3" 
                class="form-control"
                placeholder=""
				required
				data-msg-required="{{ requiredMsg }}"></textarea>
		</div>
	</div>

	<p class="text-center text-danger d-none form-general-error"><small>Sorry, an error has occurred. Please try again later.</small></p>
	<div class="d-flex justify-content-center justify-content-md-end">
		<button class="btn btn-outline-primary variant-large" type="submit">{{ ctaLabel }}</button>
	</div>

	<div class="thank-you-container">
		<p class="h4">{{ thankYou }}</p>
	</div>
</form>