{% extends "@::templates/_layout.twig" %}

{% block navigation %}
	{% set navModel = {
		links: [
			{ title: 'Laman Utama', link: '#home' },
			{ title: 'Tentang Kami', link: '#aboutUs' },
			{ title: 'Produk Kami', link: '#ourProduct' },
			{ title: 'Barisan Kepimpinan', link: '#ourTeam' },
			{ title: 'Karier', link: '#career' },
		],
		contactUs: {
			title: 'Hubungi Kami',
			link: '#contactUs'
		}
	} %}
	{% include "@::templates/components/navbar.twig" with { model: navModel } %}
{% endblock %}

{% block main %}

	<section id="home" class="bg-gray-200">
		{% include "@::templates/components/video-banner.twig" with {
			description: 'MAXXIMA merupakan sebuah syarikat yang mempunyai misi dan visi yang meletakkan perniagaan mereka mempunyai arah tuju melebihi daripada nilai keuntungan semata-mata.'
		} %}
	</section>

	<section class="bg-gray-200 py-6" id="aboutUs">
		<div class="px-4">
			<div class="d-md-flex justify-content-center">
				<h3 class="display-3 text-center animated text-slide-in">Kenapa</h3>
				<h3 class="display-3 text-red text-center ms-3 animated text-slide-in">MAXXIMA </h3>
				<h3 class="display-3 text-center animated text-slide-in">?</h3>
			</div>
			<p class="text-center lead">Kami komited untuk mencipta peluang dan platform <br class="d-none d-md-block"/>agar masyarakat dapat menjalani kehidupan yang lebih sihat dan menjana pendapatan lebih lumayan.</p>
		</div>
		<div class="container-fluid px-3 px-md-5 pt-4">
			<div class="carousel variant-card1 swiper-container pb-5 pb-md-0">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						{% include "@::templates/components/card-v1.twig" with {
                    icon: 'quality',
                    cardTitle: 'Produk Berkualiti Tinggi',
                    cardText: 'Semua produk Maxxima disokong oleh kajian klinikal untuk memastikan keselamatan dan keberkesanan kepada penggunanya.'
                } %}
					</div>
					<div class="swiper-slide">
						{% include "@::templates/components/card-v1.twig" with {
                    icon: 'compensation',
                    cardTitle: 'Pelan Kompensasi',
                    cardText: 'Sejak ditubuhkan pada 2013, MAXXIMA telah membayar komisen lebih daripada RM100 juta kepada rakan niaga mereka setiap minggu. Dengan model perniagaan dan perancangan yang kukuh, MAXXIMA telah mengubah rata-rata kehidupan masyarakat dari segi kewangan.'
                } %}
					</div>
					<div class="swiper-slide">
						{% include "@::templates/components/card-v1.twig" with {
                    icon: 'support',
                    cardTitle: 'Sistem Sokongan Yang Kuat',
                    cardText: 'MAXXIMA telah menetapkan penanda aras yang tinggi di dalam industri kecantikan dan kesihatan serta telah menjadi ‘Talk Of The Town’ kerana strategi penjenamaan mereka, latihan dan sistem sokongan yang diberikan telah membantu rakan niaga mereka membina sebuah empayar perniagaan yang kukuh.'
                } %}
					</div>
				</div>
				<div class="swiper-pagination d-md-none"></div>
			</div>
		</div>
	</section>

	<section class="py-6" id="ourProduct">
		<div class="container-fluid px-3 px-md-5 pt-4 pb-5 position-relative">
			<div class="two-tiles-container row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
					<div>
						<h3 class="display-3 mb-md-4 animated text-slide-in">TAHUN PENGALAMAN DALAM INDUSTRI E-DAGANG</h3>
						<h4 class="display-4 mb-5">Malaysia, Indonesia, <br/>Singapura, & Brunei.</h4>
						<div class="row d-none d-md-flex">
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '200k+',
								text: 'Rakan Niaga Yang Berjaya',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '100m+',
								text: 'Jumlah Komisen Mingguan Yang Dibayar',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '4+	',
								text: 'Kehadiran Di Peringkat Asia Tenggara Yang Kukuh',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '10+',
								text: 'Produk Berkualiti',
							} %}
							</div>
						</div>
					</div>
				</div>
				<div class="col d-md-block d-none">
					{% include "@::templates/components/line-separator.twig" %}
					<p class="lead text-justify">Diasaskan oleh usahawan berpengalaman dan berjaya, MAXXIMA telah berjaya membuktikan kualiti dan prestasi syarikat yang begitu tinggi dengan merangkul pelbagai anugerah di peringkat kebangsaan dan antarabangsa di bawah industri kecantikan dan kesihatan,.</p>
					<p class="lead text-justify">Teras misi perniagaan kami adalah untuk mengubah kehidupan. Kami berhasrat untuk membantu menambah baik taraf kehidupan rakan niaga dan juga pengguna kami dari segi kewangan dan gaya hidup. Oleh demikian, kami sentiasa meletakkan komitmen untuk mengembang dan meningkatkan prestasi perniagaan kepada masyarakat.</p>
					<p class="lead text-justify">Dengan menimba lebih banyak pengalaman, menambahbaik inovasi saintifik, menawarkan produk gaya hidup terkini, dan meletakkan kawalan kualiti yang tinggi, MAXXIMA terus meneroka jalan baharu agar masyarakat dapat menjalani kehidupan yang lebih sihat dan berkualiti.</p>
				</div>
			</div>

			<div class="row d-md-none d-flex">
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '200k+',
						text: 'Successful Business Associates',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '100m+',
						text: 'Total Weekly Commissions Paid',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '4+	',
						text: 'Strong SEA Presence',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '10+',
						text: 'Quality Products',
					} %}
				</div>

				<div class="col">
					{% include "@::templates/components/line-separator.twig" %}

					<p class="lead">Founded by experienced and accomplished entrepreneurs, MAXXIMA has won numerous awards internationally in the beauty and wellness industry, setting a proven track record of achievements.</p>
					<p class="lead">At the core of our business mission is to transform lives. We aim to improve the financial as well as personal wellbeing of our business associates as well as consumers. That’s why we are constantly developing and enhancing our business with people’s ever-evolving needs in mind.</p>
					<p class="lead">Drawing more experiences, charting excellent scientific innovation, offering up-to date lifestyle products, streamlining solid values and standardising high quality control, MAXXIMA continues to pave new pathways for people to lead healthier and wealthier lives - and the numbers are increasing every day.</p>
				</div>
			</div>

			{% include "@::templates/components/font-thumbnail.twig" with {
				text: '9',
				variant: 'variant-2',
			} %}
		</div>
		<div class="px-4 pt-5 mb-4">
			<h3 class="display-3 text-center animated text-slide-in">Produk Kecantikan & Kesihatan</h3>
			<p class="text-center h3">Elixxi<sup>®</sup> Beauty + Maxxima suplemen Kesihatan XSERIES</p>
		</div>


		<div class="container-fluid px-3 px-md-5 pt-4">
			<div class="carousel variant-products swiper-container pb-5">
				<div class="swiper-wrapper">
					{% set products = [
						{
							name: 'Elixxi<sup>®</sup> Beauty Drink',
							description: 'Elixxi<sup>®</sup> Beauty Drink adalah minuman kecantikan yang mampu mengembalikan semula keremajaan kulit anda menerusi keajaiban sains serta keunikan bahan yang berasaskan semula jadi. Elixxi<sup>®</sup> Beauty Drink juga dilengkapi dengan formula yang dipatenkan iaitu SkinAx<sup>²™</sup> serta terbukti secara klinikal boleh membantu menyegarkan kulit, menyihatkan rambut dan menguatkan kuku anda.',
							image: 'assets/img/products/Product-Elixxi-Beauty.png',
							link: '#',
						},
						{
							name: 'Elixxi<sup>®</sup> Lipo Facial Masks',
							description: 'Serlahkan kecantikan kulit anda dengan Elixxi<sup>®</sup> Lipo Facial Mask yang dipertingkatkan dengan Nanoteknologi LipoButy<sup>™</sup> untuk memberi kesan yang lebih mendalam dan pantas. Elixxi<sup>®</sup> Lipo Facial Mask juga diperkaya dengan ekstrak bunga asli untuk kesan yang lebih efektif.',
							image: 'assets/img/products/Product-Elixxi-Lipo-Mask.png',
							link: '#',
						},
						{
							name: 'XSERIES - CMX',
							description: 'CMX adalah sejenis suplemen cecair yang diformulasikan dengan bahan aktif yang dipatenkan sebagai ImmuMaxx<sup>™</sup>. Bahan campuran aktif ini mampu memberi sejumlah besar nutrisi yang berkhasiat agar tubuh anda kekal aktif dan sihat. Sesuai untuk individu yang gemar melibatkan diri dalam aktiviti bersukan kerana ia mampu membekalkan tenaga kepada tubuh anda.',
							image: 'assets/img/products/CMX.png',
							link: '#',
						},
						{
							name: 'XSERIES - AFX',
							description: 'AFX adalah sejenis makanan tambahan yang  diformulasikan dengan ekstrak Aphanizomenon flos Aquae (AFA). Bahan ini juga kaya dengan mineral semula jadi, klorofil, antioksidan dan pelbagai jenis vitamin untuk menguatkan sistem imunisasi tubuh anda.',
							image: 'assets/img/products/AFX.png',
							link: '#',
						},
						{
							name: 'XSERIES - BRX',
							description: 'Terbukti secara klinikal sebagai flavonoid terbaik yang boleh menyokong keupayaan untuk fokus dan pembelajaran. BRX adalah suplemen pemakanan berbentuk cecair dan dilengkapi dengan bahan aktif yang dipatenkan sebagai Memophenol<sup>™</sup>. Ia sesuai diambil bagi individu yang mahu meningkatkan atau menjaga kesihatan minda.',
							image: 'assets/img/products/BRX.png',
							link: '#',
						},
						{
							name: 'XSERIES - KIX',
							description: 'Diformulasikan dengan bahan aktif yang dipatenkan sebagai Wellmune<sup>®</sup> dan DHA, KIX adalah sejenis vitamin yang selamat dimakan oleh kanak-kanak dan bagus untuk menyokong sistem pertahanan semula jadi tubuh dan perkembangan otak mereka.',
							image: 'assets/img/products/KIX.png',
							link: '#',
						},
					]%}

					{% for product in products %}
						<div class="swiper-slide">
							{% include "@::templates/components/card-v2.twig" with {
						image: product.image,
						cardTitle: product.name,
						cardText: product.description,
						cardUrl: product.link,
						ctaLabel: 'KETAHUI LEBIH LANJUT'
                	} %}
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="display-3 text-center animated text-slide-in">ANUGERAH</h3>
					<p class="text-center lead sub-title mx-auto">Usaha dan kerja keras kami dalam membina perniagaan telah membawa kejayaan besar, termasuk pengiktirafan dan penghargaan di peringkat antarabangsa. Sebagai sebuah syarikat yang mempunyai cita-cita yang tinggi, MAXXIMA akan terus memacu kehadapan untuk meletakkan penanda aras yang lebih tinggi dalam industri kecantikan dan kesihatan.</p>
				</div>
				<div class="col-lg-8 offset-lg-2">
					<div class="list variant-logos">
						{% set awards = [
							{
								logo: 'assets/img/awards_logo-01.png',
								altText: 'awards-1'
							},
							{
								logo: 'assets/img/awards_logo-02.png',
								altText: 'awards-2'
							},
							{
								logo: 'assets/img/awards_logo-03.png',
								altText: 'awards-3'
							},
							{
								logo: 'assets/img/awards_logo-04.png',
								altText: 'awards-4'
							},
							{
								logo: 'assets/img/awards_logo-05.png',
								altText: 'awards-5'
							},
							{
								logo: 'assets/img/awards_logo-06.png',
								altText: 'awards-6'
							},
							{
								logo: 'assets/img/awards_logo-07.png',
								altText: 'awards-7'
							},
							{
								logo: 'assets/img/awards_logo-08.png',
								altText: 'awards-8'
							}
						] 
						%}
						{% for award in awards %}
							<div class="list-item">
								<div data-scroll class="animated fade-in ratio ratio-1x1 mx-auto">
									<img src="{{ award.logo }}" alt="{{ award.altText }}"/>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-gray-200 py-6">
		<div class="container">
			<div class="col-12">
				<h3 class="display-3 text-center animated text-slide-in">RAKAN STRATEGIK</h3>
				<p class="text-center lead sub-title mx-auto">Prestasi cemerlang kami dalam mengurus perniagaan telah menarik banyak minat di peringkat global untuk menjalinkan kerjasama dalam misi menjadikan produk dan servis MAXXIMA berada di tahap optimum. Kami didorong untuk membina asas yang teguh demi mencapai kecemerlangan yang lebih tinggi.</p>
			</div>

			<div class="carousel variant-partners swiper-container">
				<div class="swiper-wrapper">
					{% set partners = [
						{
							logo: 'assets/img/strategic-partners_logo-01.png',
							altText: 'partners-1'
						},
						{
							logo: 'assets/img/strategic-partners_logo-02.png',
							altText: 'partners-2'
						},
						{
							logo: 'assets/img/strategic-partners_logo-03.png',
							altText: 'partners-3'
						},
						{
							logo: 'assets/img/strategic-partners_logo-04.png',
							altText: 'partners-4'
						},
						{
							logo: 'assets/img/strategic-partners_logo-05.png',
							altText: 'partners-5'
						},
						{
							logo: 'assets/img/strategic-partners_logo-06.png',
							altText: 'partners-6'
						},
					]%}
					{% for partner in partners %}
						<div class="swiper-slide">
							{% include "@::templates/components/logo-thumbnail.twig" with {
						logo: partner.logo,
						altText: partner.altText,
						variant: 'partners-thumbnail'
					}%}
						</div>
					{% endfor %}
				</div>
				<div class="swiper-navigation d-md-none">
					<div class="swiper-button-prev">
						{% include "@::templates/components/icon.twig" with {
                            iconName: 'chevron-left',
                            iconSize: 's'
                        } %}
					</div>
					<div class="swiper-button-next">
						{% include "@::templates/components/icon.twig" with {
                            iconName: 'chevron-right',
                            iconSize: 's'
                        } %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-6" id="testimonials">
		<div class="container">
			<div class="row d-md-flex justify-content-center">
				<div class="col-12 col-md-4 mx-auto px-0 px-md-3">
					<img class="font-img mb-3" src="assets/img/double-quote.png" />
					<h3 class="display-3 mb-md-4 ms-3 animated text-slide-in">TESTIMONI</h3>
				</div>
				<div class="col-12 col-md-6 mt-md-5 mt-3">
					<div class="carousel variant-testimonials swiper-container pb-5">
						<div class="swiper-wrapper">
							{% set testimonials = [ 
								{
									name: 'Harun Mohd Noor ',
									origin: 'Kuantan, Pahang',
									image: 'harun-noor.jpg',
                        			quote: '“Ketiga-tiga anak saya di rumah sangat suka KIX. Memang tidak boleh disamakan dengan vitamin atau suplemen di farmasi. Mereka juga suka bermain teka-teki antara satu sama lain warna apa yang mempunyai perisa lebih sedap. Terima kasih Maxxima kerana menawarkan servis pembelian dalam talian. Kini saya tidak lagi kehabisan stok."',
								},
								{
									name: 'Mohd Mukhriz Mohamed',
									origin: 'Alor Setar, Kedah',
									image: 'Mukhriz.jpg',
									quote: '“As a person who is active and loves sports, endurance and agility is very important to keep me going. I was so impressed with the product AFX. After consuming the first bottle, I can actually feel the loads of energy and goodness. For me, another replacement is no longer an option”',
								},
								{
									name: 'Siti Rahmah Leonardo',
									origin: 'Kota Kinabalu, Sabah',
									image: 'rahmah-leonardo.jpg',
                        			quote: '“The greatest gift from me to my mom is CMX. She used to complain about not being able to do prayers normally. Prostrating in agony. But now, all of that is history. She even shared the good news and improvement she has made with her surau’s group”',

								}
                        		
							] %}
							{% for testimonial in testimonials %}
								<div class="swiper-slide">
									<div class="testimonial-quote">
										<p class="lead">{{testimonial.quote}}</p>
									</div>
									<div class="testimonials-details d-flex">
										<img src="assets/img/{{testimonial.image}}" alt="Image of testimonials">
										<div class="d-block ms-3 my-auto">
											<p class="lead mb-0">{{testimonial.name}}</p>
											<p class="lead">{{testimonial.origin}}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="swiper-pagination swiper-pagination-bullets"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-6 bg-gray-200" id="leaders">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="display-3 mb-md-4 ms-3 text-red text-center animated text-slide-in">PENGASAS MAXXIMA</h3>
					<p class="lead text-center">Dengan mempunyai lebih 50 tahun pengalaman secara total dalam dunia keusahawanan, ia menjadikan mereka lebih jelas dengan hala tuju MAXXIMA bagi memastikan perniagaan yang lebih mampan. Barisan kepimpinan kami bukan sahaja menonjol kerana rekod pencapaian yang dilakar, tetapi integriti dan cara pengurusan yang dipamerkan oleh mereka. Di MAXXIMA anda hanya akan dikelilingi oleh individu-individu yang komited untuk berjaya.</p>
				</div>
				<div class="d-md-flex justify-content-center">
					{% 
						set leaders = [
							{
								name: 'Dato’ Dr. Reza Ibrahim',
								position: 'Pengasas/Ketua Pegawai',
								image: 'reza-ibrahim'
							},
							{
								name: 'Mr. Saiffil Fariz',
								position: 'Pengasas Bersama/Ketua Pegawai Teknologi',
								image: 'saiffil-fariz'
							},
							{
								name: 'Dato Abu Samah',
								position: 'Pengerusi',
								image: 'abu-samah'
							}
						]
					%}
					{% for leader in leaders %}
						<div class="leaders-container tiles tiles-variant2 text-center mx-md-4">
							<img class="tiles-img mb-3" src="assets/img/{{ leader.image }}.png" alt="Image-of leader" />
							<p class="lead mb-0 bold">{{ leader.name }}</p>
							<p class="lead">
								<em>{{ leader.position }}</em>
							</p>
						</div>

					{% endfor %}
				</div>

			</div>
		</div>
	</section>

	<section class="py-6" id="ourTeam">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="display-3 mb-md-4 ms-3 text-center animated text-slide-in">KENALI BARISAN KEPIMPINAN KAMI</h3>
					<p class="lead text-center">Kenali arkitek di sebalik perniagaan kami dan pengalaman yang mereka bawa.</p>
				</div>

				{% set teams  = [
					{
						image: 'suresh',
						name: 'Shafigh Suresh Bhaskaran',
						position: 'Akauntan Kumpulan',
						email: 'suresh@maxx.my',
						description: 'Seorang senior yang teliti dan berpengalaman dalam bidang pengauditan, pembiayaan dan perakaunan. Suresh telah memimpin pasukan dalam syarikat terkenal dari pelbagai industri.'
					},
					{
						image: 'erin',
						name: 'Erin Kong',
						position: 'Ketua Operasi',
						email: 'erin@maxx.my',
						description: 'Seorang yang berwawasan dan teratur. Erin telah berkecimpung di dalam industri MLM selama 16 tahun. Bermula dari menstruktur SOP yang berkesan hingga seterusnya meningkatkan produktiviti dalam syarikat.'
					},
					{
						image: 'yus',
						name: 'Yuslaini Binti Yusof',
						position: 'Ketua Perkhidmatan Pengedar',
						email: 'yus@maxx.my',
						description: 'Merupakan seorang yang ramah dan mudah didekati, Yus adalah orang penting dalam menjamin kualiti tinggi perkhidmatan syarikat. Beliau juga mahir dalam memimpin pasukan perkhidmatan pelanggan dan diberi kepercayaan untuk menyelesaikan masalah dengan bijak dan pantas.'
					},
					{
						image: 'nelly',
						name: 'Nelly Nazir',
						position: 'Ketua Komunikasi Pemasaran',
						email: 'nelly@maxx.my',
						description: 'Seorang yang mampu mengenal pasti antara strategi dan kreativiti, Nelly adalah pakar dalam pengiklanan tradisional dan digital. Beliau juga telah mengurus ramai pelanggan dari tempatan dan juga global dalam 15 tahun pengalamannya.'
					},
					{
						image: 'eddie',
						name: 'Zamri Bin Durahman',
						position: 'Ketua Jabatan Logistik',
						email: 'zamri@maxx.my',
						description: 'Mahir dalam khidmat pelanggan dan operasi gudang, Zamri mempunyai kepakaran dalam memimpin pasukannya untuk memberi tahap kepuasan pelanggan yang tinggi dan menjamin kualiti barang untuk syarikat.'
					},
					{
						image: 'azam',
						name: 'Khamarul Azam Sulaiman',
						position: 'Ketua Cawangan',
						email: 'azam@maxx.my',
						description: 'Seorang artikulasi dan analitis, Azam ditugaskan untuk memimpin pasukannya dengan cemerlang serta mempunyai pengalaman dalam mengurus cawangan di pelbagai industri, dari runcit hingga restoran dan hotel.'
					},
					{
						image: 'prasad',
						name: 'Prasad Dass',
						position: 'Ketua Sumber Manusia',
						email: 'prasad@maxx.my',
						description: "Seorang yang versatil dan strategik, Prasad memegang rekod prestasi yang telah terbukti cemerlang selepas 26 tahun melibatkan diri dalam jabatan HR di pelbagai syarikat, termasuk syarikat MNC, PLC dan syarikat tempatan."
					},
					{
						image: 'yap',
						name: 'Hanna Yap Siew Haan',
						position: 'Ketua Pengurusan Fasiliti',
						email: 'hanna@maxx.my',
						description: 'Seorang penyelaras yang rajin, Hanna merupakan salah seorang individu penting di sebalik prestasi syarikat. Dia menguruskan hubungan dalaman dan luaran untuk memastikan proses mematuhi standard dan kualiti.'
					}
				]
				%}

				{% for team in teams %}
					<div class="col-md-4 col-12">
						{% include "@::templates/components/card-v3.twig" with {
							image: team.image,
							name: team.name,
							position: team.position,
							email: team.email,
							description: team.description
						}%}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section id="career">
		{% include "@::templates/components/cta-banner.twig" with {
			subTitle: 'Berminat untuk sertai Rakan Niaga MAXXIMA?',
			title: 'RASAI PENGALAMAN PERNIAGAAN TANPA HAD BERSAMA KAMI!',
			ctaLabel: 'Ketahui Lebih Lanjut'
		} %}
	</section>

	<section class="py-5 bg-gray-200">
		<div class="container-fluid">
			<div class="row">
				<div class="maxxima-foundation position-relative">
					<div class="col-md-8 col-12 maxxima-content pt-6 pt-md-5">
						<h3 class="display-3 animated text-slide-in">MAXXCARE FOUNDATION</h3>
						<p class="lead">Setiap perniagaan yang berjaya hanya akan jadi lebih bermakna sekiranya mereka mempunyai hasrat untuk memberi semula kepada kesejahteraan masyarakat. MAXXCARE Foundation dibentuk dalam MAXXIMA untuk memastikan usaha membantu komuniti di dalam negara dan juga di peringkat global.</p>
					</div>
					<div class="img-wrapper-1">
						<img src="assets/img/foundation-1.png" alt="Image of Maxxima foundation" />
					</div>
					<div class="img-wrapper-2">
						<img src="assets/img/foundation-2.png" alt="Image of Maxxima foundation" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5 border-top" id="contactUs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="display-3 mb-md-4 ms-3 text-center animated text-slide-in">HUBUNGI KAMI</h3>
					{% include "@::templates/components/form.twig" with {
						name: 'NAMA ANDA',
						emailAddress: 'ALAMAT EMAIL',
						mobileNumber: 'NOMBOR TELEFON',
						subject: 'SUBJEK',
						message: 'NYATAKAN MESEJ ANDA',
						ctaLabel: 'Hantar Mesej'
					}%}
				</div>
			</div>
		</div>
	</section>

{% endblock %}f