{% extends "@::templates/_layout.twig" %}

{% block main %}

	<section id="home" class="bg-gray-200">
		{% include "@::templates/components/video-banner.twig" %}
	</section>

	<section class="bg-gray-200 py-6" id="aboutUs">
		<div class="px-4">
			<h3 class="display-3 text-center">WHY CHOOSE
				<span class="text-red">MAXXIMA</span>
			</h3>
			<p class="text-center lead">We are committed to paving new opportunities for people to live healthier and wealthier every day.</p>
		</div>
		<div class="container-fluid px-3 px-md-5 pt-4">
			<div class="carousel variant-card1 swiper-container pb-5 pb-md-0">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						{% include "@::templates/components/card-v1.twig" with {
                    icon: 'quality',
                    cardTitle: 'High Quality Products',
                    cardText: 'All products under MAXXIMA are developed together with numerous R&D teams around the globe and backed by clinically studies to ensure maximum levels of safety and effectiveness.'
                } %}
					</div>
					<div class="swiper-slide">
						{% include "@::templates/components/card-v1.twig" with {
                    icon: 'compensation',
                    cardTitle: 'Consistent Compensation',
                    cardText: 'Since MAXXIMA’s establishment in 2013, we have paid our business associates on a weekly basis, with the commissions totalling up to over RM100,000 million, to date. Our sound business model and compensation plan has positively transformed the lives of many financially.'
                } %}
					</div>
					<div class="swiper-slide">
						{% include "@::templates/components/card-v1.twig" with {
                    icon: 'support',
                    cardTitle: 'Strong Support System',
                    cardText: 'MAXXIMA is known for pushing the benchmarks of beauty and wellness, making us the talk of the town in the industry. Our efficient training and support system have helped our business associates build sustainable businesses.'
                } %}
					</div>
				</div>
				<div class="swiper-pagination d-md-none"></div>
			</div>
		</div>
	</section>

	<section class="py-6" id="ourProduct">
		<div class="container-fluid px-3 px-md-5 pt-4 pb-5 position-relative">
			<div class="two-tiles-container row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
					<div>
						<h3 class="display-3 mb-md-4">YEARS OF ECOMMERCE EXPERIENCE IN</h3>
						<h4 class="display-4 mb-5">Malaysia, Indonesia,
							<br/>Singapore, & Brunei</h4>
						<div class="row d-none d-md-flex">
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '200k+',
								text: 'Successful Business Associates',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '100,000m+',
								text: 'Total Weekly Commissions Paid',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '4+	',
								text: 'Strong SEA Presence',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '10+',
								text: 'Quality Products',
							} %}
							</div>
						</div>
					</div>
				</div>
				<div class="col d-md-block d-none">
					{% include "@::templates/components/line-separator.twig" %}
					<p class="lead">Founded by experienced and accomplished entrepreneurs, MAXXIMA has won numerous awards internationally in the beauty and wellness industry, setting a proven track record of achievements.</p>
					<p class="lead">At the core of our business mission is to transform lives. We aim to improve the financial as well as personal wellbeing of our business associates as well as consumers. That’s why we are constantly developing and enhancing our business with people’s ever-evolving needs in mind.</p>
					<p class="lead">Drawing more experiences, charting excellent scientific innovation, offering up-to date lifestyle products, streamlining solid values and standardising high quality control, MAXXIMA continues to pave new pathways for people to lead healthier and wealthier lives - and the numbers are increasing every day.</p>
				</div>
			</div>

			<div class="row d-md-none d-flex">
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '200k+',
						text: 'Successful Business Associates',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '100,000m+',
						text: 'Total Weekly Commissions Paid',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '4+	',
						text: 'Strong SEA Presence',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '10+',
						text: 'Quality Products',
					} %}
				</div>

				<div class="col">
					{% include "@::templates/components/line-separator.twig" %}

					<p class="lead">Founded by experienced and accomplished entrepreneurs, MAXXIMA has won numerous awards internationally in the beauty and wellness industry, setting a proven track record of achievements.</p>
					<p class="lead">At the core of our business mission is to transform lives. We aim to improve the financial as well as personal wellbeing of our business associates as well as consumers. That’s why we are constantly developing and enhancing our business with people’s ever-evolving needs in mind.</p>
					<p class="lead">Drawing more experiences, charting excellent scientific innovation, offering up-to date lifestyle products, streamlining solid values and standardising high quality control, MAXXIMA continues to pave new pathways for people to lead healthier and wealthier lives - and the numbers are increasing every day.</p>
				</div>
			</div>

			{% include "@::templates/components/font-thumbnail.twig" with {
				text: '9',
				variant: 'variant-2',
			} %}
		</div>
		<div class="px-4 pt-5 mb-4">
			<h3 class="display-3 text-center">Beauty & Wellness Products</h3>
			<p class="text-center h3">Elixxi® Beauty + Maxxima Nutrition - XSERIES</p>
		</div>


		<div class="container-fluid px-3 px-md-5 pt-4">
			<div class="carousel variant-products swiper-container pb-5">
				<div class="swiper-wrapper">
					{% set products = [
						{
							name: 'Elixxi® Beauty Drink',
							description: 'All products under MAXXIMA are developed together with numerous R&D teams around the globe and backed by clinically studies to ensure maximum levels of safety and effectiveness.',
							image: 'assets/img/products/Product-Elixxi-Beauty.png',
							link: 'https://www.google.com/',
						},
						{
							name: 'Elixxi® Lipo Facial Masks',
							description: 'Infused with precious pure flower extracts and enhanced with LipoButy™ Nanotechnology, Elixxi® Lipo Facial Masks is able to nourish the skin with a deeper and more instant penetration.',
							image: 'assets/img/products/Product-Elixxi-Lipo-Mask.png',
							link: 'https://www.google.com/',
						},
						{
							name: 'XSERIES - CMX',
							description: 'Formulated with a patent-pending blend of active ingredients known as ImmuMaxx™, CMX is a liquid form daily supplement that boosts your energy level and gives your body and a large amount of nutrition to stay active and healthy.',
							image: 'assets/img/products/CMX.png',
							link: 'https://www.google.com/',
						},
						{
							name: 'XSERIES - AFX',
							description: 'Formulated with the extract of organic wild Aphanizomenon Flos Aquae (AFA), AFX is a liquid form dietary supplement that boosts your immune system and supercharges your body with an abundance of nutrients for a more vibrant health and energy.',
							image: 'assets/img/products/AFX.png',
							link: 'https://www.google.com/',
						},
						{
							name: 'XSERIES - BRX',
							description: 'Clinically proven as the best flavonoid profile to support focus and learning capabilities, BRX is a liquid form food supplement that contains a patent-pending active ingredient known as Memophenol™, suitable for anyone who wishes to improve or maintain a healthy memory.',
							image: 'assets/img/products/BRX.png',
							link: 'https://www.google.com/',
						},
						{
							name: 'XSERIES - KIX',
							description: 'Formulated with the patented active ingredients of Wellmune® and DHA, KIX is safe, natural and delicious children’s gummy vitamin that supports the body’s natural defences as well as growth and functional development of the child’s brain.',
							image: 'assets/img/products/KIX.png',
							link: 'https://www.google.com/',
						},
					]%}

					{% for product in products %}
						<div class="swiper-slide">
							{% include "@::templates/components/card-v2.twig" with {
						image: product.image,
						cardTitle: product.name,
						cardText: product.description,
						cardUrl: product.link,
                	} %}
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="col-12">
				<h3 class="display-3 text-center">AWARDS</h3>
				<p class="text-center lead sub-title mx-auto">Our efforts and hard work in building the business has brought about significant successes, including recognitions and numerous accolades. Like an upward spiral, the journey in pursuit of greatness has no end. Since 2013, our achievements have been shaped by the strength of the foundations we have set. This is what Maxxima is all about - always raising the bars of excellence.</p>
			</div>
			<div class="row row-cols-1 row-cols-md-4 g-0">
				{% set awards = [
					{
						logo: 'assets/img/awards_logo-01.png',
						altText: 'awards-1'
					},
					{
						logo: 'assets/img/awards_logo-02.png',
						altText: 'awards-2'
					},
					{
						logo: 'assets/img/awards_logo-03.png',
						altText: 'awards-3'
					},
					{
						logo: 'assets/img/awards_logo-04.png',
						altText: 'awards-4'
					},
					{
						logo: 'assets/img/awards_logo-05.png',
						altText: 'awards-5'
					},
					{
						logo: 'assets/img/awards_logo-06.png',
						altText: 'awards-6'
					},
					{
						logo: 'assets/img/awards_logo-07.png',
						altText: 'awards-7'
					},
					{
						logo: 'assets/img/awards_logo-08.png',
						altText: 'awards-8'
					}
				] 
				%}
				{% for award in awards %}
					<div class="col">
						{% include "@::templates/components/logo-thumbnail.twig" with {
							logo: award.logo,
							altText: award.altText
						}%}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="bg-gray-200 py-6">
		<div class="container">
			<div class="col-12">
				<h3 class="display-3 text-center">STRATEGIC PARTNERS</h3>
				<p class="text-center lead sub-title mx-auto">Our brilliant performance in managing the business has attracted many international collaborations in order to make our products and services reach an optimal level. In MAXXIMA, we are driven to build a strong foundation that can achieve higher success.</p>
			</div>

			<div class="row row-cols-3 row-cols-md-6 g-0 px-md-4">
				{% set partners = [
				{
					logo: 'assets/img/strategic-partners_logo-01.png',
					altText: 'partners-1'
				},
				{
					logo: 'assets/img/strategic-partners_logo-02.png',
					altText: 'partners-2'
				},
				{
					logo: 'assets/img/strategic-partners_logo-03.png',
					altText: 'partners-3'
				},
				{
					logo: 'assets/img/strategic-partners_logo-04.png',
					altText: 'partners-4'
				},
				{
					logo: 'assets/img/strategic-partners_logo-05.png',
					altText: 'partners-5'
				},
				{
					logo: 'assets/img/strategic-partners_logo-06.png',
					altText: 'partners-6'
				},
			] 
			%}
				{% for partner in partners %}
					<div class="col">
						{% include "@::templates/components/logo-thumbnail.twig" with {
						logo: partner.logo,
						altText: partner.altText,
						variant: 'partners-thumbnail'
					}%}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="py-6" id="testimonials">
		<div class="container">
			<div class="row d-md-flex justify-content-center">
				<div class="col-12 col-md-4 mx-auto px-0 px-md-3">
					<img class="font-img mb-3" src="assets/img/double-quote.png" />
					<h3 class="display-3 mb-md-4 ms-3">TESTIMONIALS</h3>
				</div>
				<div class="col-12 col-md-6 mt-md-5 mt-3">
					<div class="carousel variant-testimonials swiper-container pb-5">
						<div class="swiper-wrapper">
							{% set testimonials = [ 
								{
									name: 'Mohd Mukhriz Mohamed',
									origin: 'Alor Setar, Kedah',
									image: 'Mukhriz.jpg',
									quote: '“As a person who is active and loves sports, endurance and agility is very important to keep me going. I was so impressed with the product AFX. After consuming the first bottle, I can actually feel the loads of energy and goodness. For me, another replacement is no longer an option”',
								},
								{
									name: 'Harun',
									origin: 'Alor Setar, Kedah',
									image: 'Harun.jpg',
                        			quote: '“As a person who is active and loves sports, endurance and agility is very important to keep me going. I was so impressed with the product AFX. After consuming the first bottle, I can actually feel the loads of energy and goodness. For me, another replacement is no longer an option”',

								}
                        		
							] %}
							{% for testimonial in testimonials %}
								<div class="swiper-slide">
									<div class="testimonial-quote">
										<p class="lead">{{testimonial.quote}}</p>
									</div>
									<div class="testimonials-details d-flex">
										<img src="assets/img/{{testimonial.image}}" alt="Image of testimonials">
										<div class="d-block ms-3 my-auto">
											<p class="lead mb-0">{{testimonial.name}}</p>
											<p class="lead">{{testimonial.origin}}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="swiper-pagination swiper-pagination-bullets"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-6 bg-gray-200" id="leaders">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="display-3 mb-md-4 ms-3 text-red text-center">OUR LEADERS</h3>
					<p class="lead text-center">With over 50 years of combined entrepreneurial successes and experiences, our team of leaders know what it takes to create lasting and thriving businesses. Every one of MAXXIMA’s leader stands out from the crowd, not only for their accomplishments, but for their integrity and responsible management as well. At MAXXIMA you will be immediately surrounded with the right people who know what it takes to truly propel you towards your life goals.</p>
				</div>
				<div class="d-md-flex justify-content-center">
					{% 
						set leaders = [
							{
								name: 'Dato’ Dr. Reza Ibrahim',
								position: 'Founder/CEO',
								image: 'reza-ibrahim'
							},
							{
								name: 'Mr. Saiffil Fariz',
								position: 'Co-Founder/CTO',
								image: 'saiffil-fariz'
							},
							{
								name: 'Dato Abu Samah',
								position: 'Chairman',
								image: 'abu-samah'
							}
						]
					%}
					{% for leader in leaders %}
						<div class="leaders-container tiles tiles-variant2 text-center mx-md-4">
							<img class="tiles-img mb-3" src="assets/img/{{ leader.image }}.png" alt="Image-of leader" />
							<p class="lead mb-0 bold">{{ leader.name }}</p>
							<p class="lead">
								<em>{{ leader.position }}</em>
							</p>
						</div>

					{% endfor %}
				</div>

			</div>
		</div>
	</section>

	<section class="py-6" id="ourTeam">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="display-3 mb-md-4 ms-3 text-center">MEET OUR TEAM</h3>
					<p class="lead text-center">Get to know the masterminds behind our business and the experiences they bring.</p>
				</div>

				{% set teams  = [
					{
						image: 'male-worker',
						name: 'Shafigh Suresh Bhaskaran',
						position: 'Group Accountant',
						email: 'suresh@maxx.my',
						description: 'A melticulour and experience senior with a strong history in auditing, financing and accounting. Suresh has led the teams in renowned companies of various industries.'
					},
					{
						image: 'female-worker-1',
						name: 'Erin Kong',
						position: 'Head of Operations',
						email: 'erin@maxx.my',
						description: 'An organised visionary. Erin has thrived in all 16 years of her experience in MLM, from laying down effective SOPs to continuously enhancing the efficiency within the company.'
					},
					{
						image: 'female-worker-2',
						name: 'Yuslaini Binti Yusof',
						position: 'Head of Distributor Services',
						email: 'suresh@maxx.my',
						description: 'Gracious and adaptable, Yus is the gatekeeper of the quality of our services. She is the positive energy that leads our customer service teams and is always trusted to solve problems with tact and swiftness.'
					}
				]
				%}

				{% for team in teams %}
					<div class="col-md-4 col-12">
						{% include "@::templates/components/card-v3.twig" with {
							image: team.image,
							name: team.name,
							position: team.position,
							email: team.email,
							description: team.description
						}%}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section id="career">
		{% include "@::templates/components/cta-banner.twig" %}
	</section>

	<section class="py-5 bg-gray-200">
		<div class="container-fluid">
			<div class="row">
				<div class="maxxima-foundation position-relative">
					<div class="col-md-8 col-12 maxxima-content pt-5">
						<h3 class="display-3">MAXXIMA FOUNDATION</h3>
						<p class="lead">Every successful business is only as valuable as their contribution to the wellbeing of society. After all, it is people that drive  businesses. As a company with a purpose beyond profit, our MaxxCare Foundation was formed within MAXXMA to ensure constant efforts to supporting communities, both locally and globally.</p>
					</div>
					<div class="img-wrapper-1">
						<img src="assets/img/foundation-1.png" alt="Image of Maxxima foundation" />
					</div>
					<div class="img-wrapper-2">
						<img src="assets/img/foundation-2.png" alt="Image of Maxxima foundation" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5 border-top" id="contactUs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="display-3 mb-md-4 ms-3 text-center">CONTACT US</h3>
					{% include "@::templates/components/form.twig" %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}